============================= test session starts =============================
platform win32 -- Python 3.9.13, pytest-8.3.5, pluggy-1.5.0
rootdir: D:\Code\nseviz
configfile: pytest.ini
collected 53 items

tests\test_cors.py .                                                     [  1%]
tests\test_heatmap_data.py ............................................. [ 86%]
.......                                                                  [100%]

============================= 53 passed in 6.06s ==============================
